<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TickCad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <TickCad.Properties.Settings>
            <setting name="Color" serializeAs="String">
                <value>#FFEE82EE</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>Large</value>
            </setting>
            <setting name="ThemeSource" serializeAs="String">
                <value>/FirstFloor.ModernUI,Version=1.0.3.0;component/Assets/ModernUI.Light.xaml</value>
            </setting>
        </TickCad.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
