<configuration>
  <appSettings>
    <add key="STOCK_LIST" value="C:\\ProgramData\\Autodesk\\ApplicationPlugins\\KwikScaf.bundle\\Contents\\Excel\\Stock.csv" />
    <add key="COMPONENT_DETAILS" value="C:\\ProgramData\\Autodesk\\ApplicationPlugins\\KwikScaf.bundle\\Contents\\Excel\\ComponentDetails.csv" />
    <add key="DRAWING_DETAILS" value="C:\\ProgramData\\Autodesk\\ApplicationPlugins\\KwikScaf.bundle\\Contents\\Excel\\DrawingDetails.csv" />
  </appSettings>
</configuration>